<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ublox_antenna" params="name parent_link *origin">
    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
        <material name="clearpath_medium_grey"/>
        <geometry>
          <mesh filename="package://clearpath_sensors_description/meshes/ublox_antenna.stl"
          scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <material name="clearpath_medium_grey"/>
        <origin xyz="0.0000 -0.0000 0.0324"/>
        <geometry>
          <sphere radius="0.1122" />
        </geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <child link="${name}"/>
      <parent link="${parent_link}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${name}">
      <sensor name="${name}" type="navsat">
        <always_on>1</always_on>
        <update_rate>1</update_rate>
        <ignition_frame_id>${name}</ignition_frame_id>
        <topic>$(arg namespace)/sensors/${name}/navsat</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
