# Ignora tutto
*

# Mantieni git metadata
!.gitignore

# Mantieni la workspace ROS2 desiderata
!ros2_navila_ws/
!ros2_navila_ws/**

# Dentro la workspace ignora build artifacts ROS2
ros2_navila_ws/build/
ros2_navila_ws/install/
ros2_navila_ws/log/

# Python
ros2_navila_ws/**/__pycache__/
ros2_navila_ws/**/*.py[cod]

# CMake
ros2_navila_ws/**/CMakeFiles/
ros2_navila_ws/**/CMakeCache.txt
ros2_navila_ws/**/cmake_install.cmake
ros2_navila_ws/**/Makefile
ros2_navila_ws/**/compile_commands.json

# IDE
.vscode/
.idea/

# Temp
.DS_Store
*~
*.swp
*.swo

# Logs
*.log
